# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Environment files
.env
.env.*
package-lock.json
yarn.lock

# Build directories
/build
/dist

# Testing
/coverage

# System files
.DS_Store
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
