/* Page container */
#display-products-page {
  height: 100%;
    background-color: #f9f9f9;
  }
  
  /* Page title styling */
  #display-products-title {
    font-family: 'Outfit', sans-serif;
    font-size: 2.5rem;
    color: #009900;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
  }
  
  /* Styling for the product cards */
  .product-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  /* Image styling inside each card */
  .product-card-image {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* Product name styling */
  .product-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    text-align: center;
  }
  
  /* Product price styling */
  .product-card-price {
    font-size: 1.2rem;
    color: #777;
    text-align: center;
  }
  
  /* Container for buttons */
  #button-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0 15px;
  }
  
  /* Button styles */
  .product-action-button {
    width: 100%;
    font-family: 'Outfit', sans-serif;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Specific button styles for Edit */
  .product-edit-button {
    background-color: #007bff;
    color: white;
  }
  
  .product-edit-button:hover {
    background-color: #0056b3;
  }
  
  /* Specific button styles for Remove */
  .product-remove-button {
    background-color: #dc3545;
    color: white;
  }
  
  .product-remove-button:hover {
    background-color: #c82333;
  }
  