#prescriptions-page-container {
    margin: 20px;
  }
  
  #prescriptions-page-title {
    margin-bottom: 20px;
  }
  
  .prescription-card {
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;
    }
    
    .prescription-card:hover {
      transform: translateY(-5px); /* Slight lift effect on hover */
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    }
  .card-body {
    text-align: center;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }