#SignupContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}
#SignupForm{
    margin-top: 25px;
    border: solid 2px black;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 1px 1px 9px 1px black;
    width: 30%;
    background-color: white;
    z-index: 100;
    position: relative;
}
#SignupText{
    font-family: "Outfit";
    font-weight: 700;
}

.form-control{
    width: 100%;
}
